<button
  type="<%= @html_options[:type] || 'button' %>"
  class="<%= button_classes %>"
  <%= @html_options.except(:class, :type).map { |k, v| "#{k}=\"#{v}\"" }.join(' ').html_safe %>
>
  <span class="absolute inset-0 bg-gradient-to-r from-transparent via-white/20 to-transparent -translate-x-full group-hover:translate-x-full transition-transform duration-1000"></span>
  <span class="relative text-white">
    <%= content %>
  </span>
</button>
